$main-color: #333;
$hover-color: #ffc2c2;

/*--------------------------------
 フッター
---------------------------------*/
.footer {
  color: #fff;
  padding: 60px 20px 50px;
  background-color: $main-color;
}

.footer-nav {
  margin-bottom: 20px;
}

.footer-nav__list {
  display: flex;
  column-gap: 30px;
}

.footer-nav__item {
  font-size: 14px;
  font-weight: bold;
  line-height: 1;
  letter-spacing: 0.05em;
}

.footer-nav__link {
  color: $main-color;
  color: #fff;
  text-decoration: none;
}

.footer__copyright {
  font-size: 12px;
  letter-spacing: 0.03em;
}