$main-color: #333;
$hover-color: #ffc2c2;


.mv {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 600px;
	background-image: url(../img/pc_mv.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
	.mv__titleArea {
		color: #fff;
		text-align: center;
}

	.mv__title {
		font-size: 160px;
		font-weight: bold;
		line-height: 1;
		text-shadow: 0 4px 6px rgb(0 0 0 / 25%);
		margin-bottom: 10px;
		}
		
		.mv__subtitle {
		font-size: 24px;
		line-height: 1;
		letter-spacing: 0.1em;
	}

  
/*--------------------------------
ニュース
---------------------------------*/
.news__inner {
	display: flex;
	column-gap: 90px;
}
  
  .news__body {
	flex: 1;

	.news-list__link {
		display: flex;
		text-decoration: none;
		color: $main-color;
	}

	.news-list__link:hover {
		color: $hover-color;
	}

	.news-list__item:last-child {
		margin-bottom: 0;
	}

		.news-list {
			ul {
				li {
				font-size: 15px;
				line-height: 1.8;
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: 1px solid #e8e8e8;
				}
			}
		}
  }

	@media screen and (max-width: 767px) {

	.news-list__title {
		font-size: 15px;
		line-height: 1.8;
		}
		
		.news-list__date {
		margin-right: 20px;
		}
  


		/* ニュース */
		.news__heading {
			margin-bottom: 20px;
		}
	
		.news__inner {
			display: block;
		}
	
		.news-list__link {
			flex-direction: column;
		}
	
		.news-list__item {
			font-size: 15px;
			line-height: 1.8;
		}
	
		.news-list__item:last-child {
			margin-bottom: 0;
		}
	
		.news-list__title {
			line-height: 1.6;
		}
	
		.news-list__date {
			margin-right: 0;
		}
	
		/* サービス */
		.service__heading {
			margin-bottom: 20px;
		}
	
		.service__heading::before {
			top: -2px;
			right: -30px;
			font-size: 70px;
		}
	
		.service-list {
			row-gap: 20px;
			grid-template-columns: 1fr;
		}
	
		.service-list__item {
			padding: 40px 30px;
		}
	
		.service-list__img-wrapper {
			margin-bottom: 5px;
		}
	
		.service-list__img {
			font-size: 60px;
		}
	
		.service-list__title {
			font-size: 16px;
		}
	
		.service-list__text {
			margin-top: 10px;
		}
	}